@import './variables';
@import './ui.scss';

body {
}
.h-100vh {
   height: 100vh; 
}
.btn-green-light, .bg-green-light {
    background: $green-light;
}
.bg-green-lighter {
    background: $green-lighter;
}
.primary-nav {
    .nav-link {
        text-transform: uppercase;
        padding-bottom: .2rem;
        font-size: .8rem;
    }
    .nav-item {
        padding-left: 1.4rem;
        padding-right: 1.4rem;
        
    }
    .nav-item.active, .nav-item:hover {
        .nav-link {
            border-bottom: 2px solid $green-lighter;
        }
    }
}


.section {
    background:
        linear-gradient(
            rgba(255, 255, 255, .92),
            rgba(255, 255, 255, .92),
        ), 
        url('../../images/background.png');
    min-height: 100vh;
    overflow: hidden;
}
.content-wrapper {
    padding: 140px 50px 0px 50px; 
    position: relative;
    min-height: inherit;
}
.content {
    position: relative;
    z-index: 10;
    &.spaced {
        padding-top: 30px;
        &.extra {
            padding-top: 70px;
        }
    }
}

.section-content {
    position: relative;
    z-index: 10;
}
//footer
footer {
    position: fixed;
    bottom: 0;
    z-index: 1030;
    .icons {
        padding: .5rem;
        background: rgba(255, 255, 255, .8);
        .icon {
            margin: 0 8px;
            transform: scale(.8);
        }
    }
}
//index
.sl1 {
    .back-image {
        position: absolute;
        bottom: 0px;
        right: 100px;
        height: 70%;
    }
}

.sl2 {
    .back-image {
        position: absolute;
        bottom: 0px;
        right: 0px;
        height: 70%;
    }
    .card-body {
        padding: .75rem 1.25rem;
    }
}

.sl3 {
    .back-image {
        position: absolute;
        bottom: 0px;
        left: 50%;
        width: 720px;
        margin-left: auto;
        margin-right: auto;
        transform: translateX(-50%);
    
    }
    .card-body {
        padding: .75rem 1.25rem;
    }
}

.sl4 {
    .back-image {
        position: absolute;
        bottom: 100%;
        right: -20px;
        width: 500px;
    }
}

//volunteer
.vs1 {
    .vol-mobile1 {
        width: 300px;
        position: absolute;
        bottom: 0;
        left: 19%;
        margin: auto;
        display: block;
    }
    .back-image {
        position: absolute;
        bottom: 0;
        right: -90px;
        width: 680px;
        height: unset;
    }
}

.vs2 {
    .icon-bullet {
        display: flex;
        align-items: center;
        margin: 1rem 0;
        .icon {
            width: 50px;
            height: 50px;
            justify-content: center;
            align-items: center;
            background: $green;
            flex: 0 0 50px;
            display: flex;
        }
        p {
            color: $gray;
            font-weight: bold;
            font-size: (24/$font-base) + rem;
            line-height: (24 * $lineheight-base) + rem;
            margin-bottom: 0;
            padding-left: 1rem;
        }
    }
}
.vs3 {
    .back-image {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 450px;
    }
    &__title {
        width: 75%;
    }
    .card {
        position: relative;
        .card-body {
            padding-left: 20px;
        }
    }
    .dot-line {
        position: absolute;
        width: 200px;
        height: 2px;
        background: $green;
        top: 50%;
        right: 100%;
        transform-origin: right top;  
        &__one {
            transform: rotateZ(-15deg);
        }
        &__two {
            // transform: rotateZ(-15deg);
        }
        &__three {
            transform: rotateZ(15deg);
        }
        &:after {
            content: '\25CF';
            font-size: 16px;
            position: absolute;
            right: -8px;
            top: -10px; 
        }
    }
}
.vs4 {
    .back-image {
        position: absolute;
        right: 50px;
        bottom: -80px;
        width: 270px;
    }
}
.vs7 {
    .content-wrapper {
        padding-left: 0;
        padding-right: 0;
        display: flex;
    }
    .content {
        background: url('../../images/vol-image4c1.jpg') no-repeat center center;
        background-size: cover;
        display: flex;
        width: 100%;
    }
}

.orgs1 {
    .back-image {
        position: absolute;
        bottom: 0px;
        right: 100px;
    }
    h2, p {
        width: 45%;
    }
}
.orgs2 {
    .card-body {
        font-size: (22/$font-base) + rem;
        line-height: (22 * $lineheight-base) + rem;
        padding: 1rem;
    }
}
.orgs3 {
    .back-image {
        position: absolute;
        right: 418px;
        bottom: 100%;
        width: 180px;
    }
    .back-image1 {
        position: absolute;
        bottom: 100%;
        width: 180px;
        right: 100px;
    }
    .green-card {
        min-height: 80px;
        .time h2 {
            font-size: (20/$font-base) + rem;
            line-height: (20 * $lineheight-base) + rem;
            margin-bottom: 4px;
        }
        p {
            font-size: (18/$font-base) + rem;
            line-height: (18 * $lineheight-base) + rem;
            margin-bottom: 0px;
            strong  {
                font-size: (20/$font-base) + rem;
                line-height: (15 * $lineheight-base) + rem;
            }
        }
    }
}

.orgs4 {
    .back-image {
        position: absolute;
        bottom: 0px;
        right: 50px;
    }
    h2, p {
        width: 45%;
    }
}

.orgs6 {
    .back-image {
        position: absolute;
        bottom: 0px;
        left: 50px;
    }
}

.orgs7 {
    .back-image {
        position: absolute;
        top: 0px;
        right: 50px;
    }
    .content-box {
        margin-top: 135px;
        margin-left: 6%;
    }
}

.orgs8 {
    .back-image {
        position: absolute;
        right: 30px;
        bottom: -10px;
        width: 410px;
    }
}

.orgs10 {
    padding-left: 0;
    padding-right: 0;
    .page-section {
        background: url('../../images/org-image15.jpg') no-repeat center center;
        background-size: cover;
    }
}

.sups1 {
    .back-image {
        width: auto;
        height: 450px;
    }
}
.sups2 {
    .backimage {
        padding-right: 300px;
        background: url('../../images/sup-image2c.png') no-repeat bottom right;
        background-size: contain;
    }
}

.sups4 {
    .back-image {
        width: auto;
        height: 520px;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.sups6 {
    .back-image {
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.sups8 {
    padding-left: 0;
    padding-right: 0;
    .page-section {
        background: url('../../images/sup-image8c.jpg') no-repeat bottom center;
        background-size: cover;
    }
}



@import './media.scss';
@import './helper.scss';