@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@include media-breakpoint-up(md) {
    .w-md-75 {
        width: 75% !important;
    }
}

//small and medium
@include media-breakpoint-down(md) { 
    .content-wrapper {
        padding-bottom: 100px;
    }
    .dim-md {
        opacity: .4;
    }
    .content {
        &.spaced {
            padding-top: 10px;
        }
    }

    html,body {
        overflow: auto;
    }
    //index
    .sl1 {
        .back-image {
            right: 0px;
            width: 380px;
        }
    }
    .sl4 {
        .back-image {
            width: 400px;
        }
    }

    //Volumnteer
    .vs1 {
        .vol-mobile1 {
            width: 260px;
            right: unset;
            left: 17%;
        }
        .back-image {
            position: absolute;
            bottom: 0;
            right: -100px;
            width: unset;
            height: 80%;
        }
    }
    .vs3 {
        .back-image {
            left: 40px;
            width: 372px;
        }
    }
    .vs4 {
        .top {
            margin-bottom: 5rem !important;
        }
        .back-image {
            width: 230px;
            bottom: -60px;
            right: 0px;
        }
    }

}

//small & extra sm
@include media-breakpoint-down(sm) {

    .dim-sm {
        opacity: .4;
    }
    //index
    .sl4 {
        .heading {
            margin-bottom: 140px !important;
            text-align: center;
        }
        .back-image {
            width: 300px;
            left: 50%;
            right: unset;
            transform: translateX(-50%);
        }
    }

    //volunteer
    .vs1 {
        .back-image {
            display: none;
        }
        .vol-mobile1 {
            right: unset;
            left: 30%;
        }
    }
    .vs3 {
        &__title {
            width: 60%;
        }
        .back-image {
            left: -30px;
            width: 340px;
        }
    }
    .vs4 {
        .top {
            margin-bottom: 2rem !important;
        }
        .back-image {
            // bottom: -30px;
        }
    }
}

// only extra sm
@include media-breakpoint-down(xs) {
    .vs3 {
        &__title {
            width: 100%;
        }
        .back-image {
            width: 270px;
            bottom: 18px;
        }
    }
    .vs4 {
        .back-image {
            right: -17%;
            bottom: 30px;
        }
    }
}