@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@include media-breakpoint-up(md) {
    .w-md-75 {
        width: 75% !important;
    }
}
@include media-breakpoint-down(lg) {
    .orgs3 {
        .back-image {
            right: 308px;
        }
        .back-image1 {
            right: 60px;
        }
    }
}
//small and medium
@include media-breakpoint-down(md) { 
    .content {

        &.spaced {
            padding-top: 30px;
            &.extra {
                padding-top: 0px;
            }
        }
    }
    
    .section {
        &:not(.full-height)  {
            min-height: unset;
            .content-wrapper {
                min-height: unset;
            }
        }
        &:first-child {
            padding-top: 100px;
        }
    }
    .content-wrapper {
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .dim-md {
        opacity: .4;
    }
    .content {
        &.spaced {
            padding-top: 10px;
        }
    }

    html,body {
        overflow: auto;
    }
    //index
    .sl1 {
        .back-image {
            right: 0px;
            width: 380px;
        }
    }
    .sl4 {
        .back-image {
            width: 400px;
        }
    }

    //Volumnteer
    .vs1 {
        .vol-mobile1 {
            width: 260px;
            right: unset;
            left: 17%;
        }
        .back-image {
            position: absolute;
            bottom: 0;
            right: -100px;
            width: unset;
            height: 80%;
        }
    }
    .vs3 {
        .back-image {
            left: 40px;
            width: 372px;
        }
    }
    .vs4 {
        .top {
            margin-bottom: 5rem !important;
        }
        .back-image {
            width: 230px;
            bottom: -60px;
            right: 0px;
        }
    }
    .orgs1 {
        .back-image {
            right: 20px;
            width: 370px;
        }
    }
    .orgs3 {
        .back-image {
            right: 280px;
            width: 170px;
        }
        .back-image1 {
            right: 60px;
            width: 170px;
        }
    }

    .orgs4 {
        .back-image {
            right: -80px;
        }
    }
    .orgs6 {
        .back-image {
            bottom: 70px;
            left: 10px;
        }
    }

    .orgs7 {
        .content-box {
            margin-top: 0;
            margin-left: 0;
        }
        img {
            width: 100%;
            margin-left: 0;
            margin-top: 70px;
        }
    }

    .orgs8 {
        .back-image {
            position: unset;
            width: 100%;
            object-fit: contain;
        }
    }
    .orgs10 {
        .content-wrapper {
            padding-bottom: 0px;
        }
    }
    .sups2 {
        .back-image {
            height: 50%;
            right: 9%;
            top: 200px;
            bottom: unset;
        }
    }

    .sups4 {
        .back-image {
            height: 50%;
            right: 30px;
            top: 220px;
            bottom: unset;
        }
    }

    .sups6 {
        .back-image {
            position: unset;
            margin: 0 -7.5%;
            width: 115%;
        }
    }
}

//small & extra sm
@include media-breakpoint-down(sm) {

    .dim-sm {
        opacity: .4;
    }
    //index
    .sl4 {
        .heading {
            margin-bottom: 140px !important;
            text-align: center;
        }
        .back-image {
            width: 300px;
            left: 50%;
            right: unset;
            transform: translateX(-50%);
        }
    }

    //volunteer
    .vs1 {
        .back-image {
            display: none;
        }
        .vol-mobile1 {
            right: unset;
            left: 30%;
        }
    }
    .vs3 {
        &__title {
            width: 60%;
        }
        .back-image {
            left: -30px;
            width: 340px;
        }
    }
    .vs4 {
        .top {
            margin-bottom: 2rem !important;
        }
        .back-image {
            // bottom: -30px;
        }
    }

    .orgs3 {
        .back-image {
            right: 100px;
            width: 140px;
        }
        .back-image1 {
            display: none;
        }
    }
    .orgs4 {
        .back-image {
            display: block;
            width: 90%;
            margin: auto;
            position: unset;
        }
    }
    .orgs6 {
        .back-image {
            display: block;
            position: unset;
            width: 46%;
            margin: auto;
        }
    }

    .orgs7 {
        .content-box {
            text-align: center;
        }
        img {
            width: 80%;
            margin: 0 auto 30px auto;
            display: block;
            
        }
    }
    .orgs8 {
        .back-image {
            margin-top: 30px;
            width: 60%;
            object-fit: contain;
        }
    }

    .sups2 {
        .back-image {
            width: 250px;
            margin: 30px auto 0 auto;
            position: unset;
            display: block;
            height: unset;
        }
    }

    .sups4 {
        .back-image {
            position: unset;
            width: 50%;
            margin: auto;
            display: block;
        }
    }
    .sups6 {
        .back-image {
            margin: 0 -15%;
            width: 130%;
        }
    }
}

// only extra sm
@include media-breakpoint-down(xs) {
    .vs3 {
        &__title {
            width: 100%;
        }
        .back-image {
            width: 270px;
            bottom: 18px;
        }
    }
    .vs4 {
        .back-image {
            right: -17%;
            bottom: 30px;
        }
    }

    .orgs3 {
        .back-image {
            right: 20px;
            width: 140px;
        }
    }
    .orgs8 {
        .back-image {
            margin-top: 30px;
            width: 100%;
            object-fit: contain;
        }
    }
}